

 
       
 <header class="header">
    
      <!-- Header Content -->
      <div class="header_container">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="header_content d-flex flex-row align-items-center justify-content-start">
                  <div  class="logo_container d-flex flex-row align-items-center mr-auto">
                  <div   id="flogo" class="logo_text_nav align-items-center"><img style="height: 60px; margin-left: inherit; " src="assets/images/logo.png"></div>
                </div>
                <nav class="main_nav_contaner">
                  <ul class="main_nav">
                    <li routerLinkActive="active current"><a  href="/home" >Home</a></li>
          <li routerLinkActive="active current"><a [routerLink]="['/courses']" >Courses</a></li>
          <li routerLinkActive="active current"><a [routerLink]="['/plansandpricing']" >Plans and Pricing</a></li>
          <li routerLinkActive="active current"><a [routerLink]="['/instructor']" >Instructor</a></li>
          <li routerLinkActive="active current"><a [routerLink]="['/events']" >Events</a></li>
          <li routerLinkActive="active current"><a [routerLink]="['/blog']" >Blog</a></li>
          <li routerLinkActive="active current"><a [routerLink]="['/contact']" >Contact</a></li>

                  </ul>
                </nav>
                <div class="header_content_right ml-auto text-right">
    
                <!-- Hamburger -->
                          
                  <ul class="lang_list">
                    <li class="hassubs">
                      <a href="#login"><a class="d-none d-lg-block" href="#login"><i class="fa fa-sign-in" aria-hidden="true"></i><span style="font-weight: 700;padding-left: 2px;">Login</span></a></a>
                      <ul>
                                                  <div class="row previous">
                                                      <div class="col-md-6 studentlogin">
                                                          <li><a [routerLink]="['/login','student']"><img src="assets/images/cap.png" style="width:90%; height:90%;"></a></li>
                                                          <p class="text-center">Student</p>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <li><a [routerLink]="['/login' , 'mentor']"><img src="assets/images/teacher.png" style="width:90%; height:90%;"></a></li>
                                                          <p class="text-center">Mentors</p>
                                                      </div>
                                                  </div>
                      </ul>
                    </li>
                  </ul>      
                  
                  <div class="hamburger menu_mm">
                    <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    
  <div class="menu d-flex flex-column text-center menu_mm trans_400">
    <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
    <nav class="menu_nav">
      <ul style="margin-top: 70px;margin-bottom: 10px;" class="menu_mm">
      <li><a href="/home">Home</a></li>
      <li ><a [routerLink]="['/courses']" >Courses</a></li>
      <li ><a [routerLink]="['/plansandpricing']" >Plans and Pricing</a></li>
      <li ><a [routerLink]="['/events']" >Events</a></li>
      <li ><a [routerLink]="['/blog']" >Blog</a></li>
      <li ><a [routerLink]="['/instructor']" >Instructors</a></li>
      <li ><a [routerLink]="['/contact']" >Contact</a></li>
      
      <li ><div class="btn-group">
  <button style="color: black; font-weight: 650;" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Login
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" [routerLink]="['/login','student']">Student</a>
    <a class="dropdown-item" [routerLink]="['/login' , 'mentor']">Mentors</a>

  </div>
</div></li>


      </ul>
    </nav>
    <div class="menu_extra">
      <div class="menu_phone"><span class="menu_title">phone:</span>+91 1234567890</div>
      <div class="menu_social">
        <span class="menu_title">follow us</span>
        <ul>
          <li><a href="#"><i style="color: lightgreen;" class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
          <li><a href="#"><i style="color: blue;" class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i style="color:red" class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i style="color: skyblue;" class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
