<div>
<footer class="footer">
  <div class="footer_body">
    <div class="container">
     

      <div style="color: white;margin-top: 10px;" class="row">
        <div class="col-lg-4">
          <div class="contact_details_title footermiddle" style="color: white;">Contact Details</div>
          <div class="footermiddle">
          
          <span style="font-size: 15px;"><i style="margin-right: 5px;" class="fa fa-phone"></i>   +44 300 303 0266</span><br>
          <span style="font-size: 15px;"><i style="margin-right: 5px;" class="fa fa-envelope"></i>  info@fadmits.com</span>
          </div>
          <!-- <span><i class="fa fa-map-marker-check"></i>10 Suffolk st Soho, London, UK</span> -->
        </div>
        
        <div class="col-lg-4">
            <div class="footermiddle" style="margin: 5px auto;text-align: center;">
              <div class="footer_logo mb-auto"><a href="#">Foreign Admits</a></div>
            © 2019 Foreignadmits
          </div>
        </div>

        <div class="col-lg-4">
          <p class="footermiddle" style="color: white;float: right;"> <strong style="font-size: 20px;">Address </strong><br>10 Suffolk st Soho, London, UK</p>
        </div>

      </div>

      <div style="color: white;" class="row" >
        <div class="col-lg-12 " style="    text-align: center;" > 
       <a href="https://twitter.com/foreignadmits"> <i  style="padding: 10px;color: skyblue;" class="fa fa-twitter footericon" aria-hidden="true"></i></a>
       <a href="https://wa.me/919170672439?text=Hello!%0AI%20need%20help%20with%20abroad%20studies."> <i style="padding: 10px;color: #25D366;" class="fa fa-whatsapp footericon" aria-hidden="true"></i></a>
       <a href="https://www.linkedin.com/company/foreignadmits"> <i style="padding: 10px;color: #0590B8" class="fa fa-linkedin footericon" aria-hidden="true"></i></a>
       <a href="https://www.instagram.com/foreignadmits"> <i style="padding: 10px;color:red" class="fa fa-instagram footericon" aria-hidden="true"></i></a>
       <a href="https://www.facebook.com/foreignadmits/"> <i   style="padding: 10px;color: #3b5998 ;" class="fa fa-facebook footericon" aria-hidden="true"></i></a>
        </div>

      </div>
    </div>
  </div>
</footer>
</div>