

<!--Header-->


<app-header ></app-header>
<!--End of Header-->
<!-- <div style="background: url('assets/images/Contact2.jpg');background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;"> -->
	<!-- Contact -->
	<div class="row" class="contactrow1">
		<div class="col-lg-6 contactbox"  >
		
  <ul class="social-network social-circle">
                        <li><a style="background-color: #25D366;" href="https://wa.me/919170672439?text=Hello!%0AI%20need%20help%20with%20abroad%20studies." class="icoRss" title="Rss"><i class="fa fa-whatsapp "></i></a></li>
                        <li><a style="background-color: #3B5998;" href="https://www.facebook.com/foreignadmits/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a style="background-color: #33ccff;" href="https://twitter.com/foreignadmits" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a style="background-color: #F56040;" href=" https://www.instagram.com/foreignadmits" class="icoGoogle" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a style="background-color: #0590B8;" href="https://www.linkedin.com/company/foreignadmits" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                       
                    </ul>	
</div></div>
<div class="row" style="text-align: center;margin-top: 5%;">
				<div class="col-lg-6 contactbox" >
					<div class="contact_form_container">
						<div class="form_title">Get in Touch</div>

						<form action="#"  #contactForm = "ngForm" id="contact_form" class="contact_form">
							<div class="row contact_row">
								<div class="col-lg-6 contact_col">
									<input type="text" class="form_input" name = "name" [(ngModel)]="detail.name" placeholder="Name" #name="ngModel" required>
									<!-- <div *ngIf="name.errors?.required && name.touched" class="error ">
										Please enter name.
									  </div> -->
								</div>
								<div class="col-lg-6 contact_col">
									<input type="text" class="form_input" name = "email" [(ngModel)]="detail.emailID" placeholder="Email" #email="ngModel" required>
									<!-- <div *ngIf="email.errors?.required && email.touched" class="error ">
										Please enter email.
									  </div> -->
								</div>
									<div class="col-lg-6 contact_col">
										<input type="text" class="form_input" name = "query" [(ngModel)]="detail.Number" placeholder="Contact No" #number="ngModel" required>
										<!-- <div *ngIf="email.errors?.required && email.touched" class="error ">
											Please enter email.
										  </div> -->
									</div>
									<div class="col-lg-6 contact_col">
										<input type="text" class="form_input" name = "purpose" [(ngModel)]="detail.Purpose" placeholder="What is your Purpose" #purpose="ngModel" required>
										<!-- <div *ngIf="email.errors?.required && email.touched" class="error ">
											Please enter email.
										  </div> -->
									</div>
									<div class="col-lg-6 contact_col">
										<input type="text" class="form_input" name = "query" [(ngModel)]="detail.Description" placeholder="Description" #description="ngModel" required>
										<!-- <div *ngIf="email.errors?.required && email.touched" class="error ">
											Please enter email.
										  </div> -->
									</div>
									<!-- <div *ngIf="email.errors?.required && email.touched" class="error ">
										Please enter email.
									  </div> -->	
								<div class="col">
									<button type="submit" [disabled]="!contactForm.form.valid" (click)="submit()" class="form_button trans_200">send message</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				</div>
<!-- </div> -->
<br><br><br><br>
	<!--Footer-->
	<app-footer ></app-footer>
	<!--End Of Footer-->