@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{

.container {
    max-width: 1600px;
}
	/*background-position: center center;*/

}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{

}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{

}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{

}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.search_form
	{
		width: 152px;
		left: 134px;
	}
	.courses_background
	{
		top: 304px;
		height: calc(100% - 304px);
	}
	.blog_title_container
	{
		width: 92%;
	}
	.footer_col
	{
		padding-right: 30px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav_contaner,
	.header_search,
	.user
	{
		display: none;
	}
	.hamburger
	{
		display: inline-block;
	}
	.top_bar_social
	{
		margin-left: 33px;
	}
	.courses_background
	{
		top: 0;
		height: 100%;
	}
	.course_col:not(:last-child)
	{
		margin-bottom: 30px;
	}
	.timer_container
	{
		margin-top: 57px;
	}
	.register_timer_container
	{
		padding-left: 0px;
		top: auto;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		margin-top: 50px;
	}
	.event_col:not(:last-child)
	{
		margin-bottom: 40px;
	}
	.blog_right
	{
		height: auto;
		margin-top: 40px;
	}
	.blog_image
	{
	    position: relative;
	    top: auto;
	    left: auto;
	    width: 100%;
	    height: 400px;
	}
	.footer_logo
	{
		margin-top: 0;
		margin-bottom: 40px !important;
	}
	.footer_col
	{
		padding-right: 15px;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 40px;
	}
	.footer_col:nth-child(2) > div
	{
		left: auto;
	}
	.footer_col:last-child > div
	{
		display: block;
		float: none;
	}
	.footer_phone
	{
		margin-right: 42px;
	}
	.copyright_content
	{
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.cr_right
	{
		margin-top: 10px;
	}
	.footer_phone,
	.footer_social
	{
		display: block;
	}
	.footer_social
	{
		margin-top: 8px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{

	.footermiddle
	{
		float: none !important;
		text-align: center;
	}
	.footermiddleicon
	{
		/*float: none !important;*/
		text-align: center;
		width: 100%;
		margin: 5px auto;
	}
	.footericon
	{
		float: none !important;
	}
	.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: none;
  width: 100% !important; /* Could be more or less, depending on screen size */
  padding: 1.5%;
  -webkit-box-shadow: -2px -1px 48px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 48px -1px rgba(0,0,0,0.75);
box-shadow: -2px -1px 48px -1px rgba(0,0,0,0.75);
}
		.pcol
	{
		width: 33% !important;
		float: left !important;
		box-sizing: border-box !important;
	}
	.phead
	{
		font-family: 'Poppins', sans-serif;
		font-size: 15px;
		font-weight: 700;
	}
	.imsize
	{
		max-width: 50px;
	}
	.p1
{
	height: 20px;
	margin-left: 30px !important;
}
.p2
{
	height: 20px;
	padding-left: 50px !important;
}
.p3
{
	height: 20px;
	padding-left: 20px !important;
}
	#flogo
	{
		margin-left: 50%;
		visibility: visible;
	}
	.logo_container
	{
		width: 100px;
	}

	.logo_text_nav
{
	display: inline-block;
	visibility: visible;
}

	.top_bar
	{
		display: none;
	}
	.header.scrolled
	{
		top: 0px;
	}
	.header.scrolled .header_content
	{
		height: 60px;
	}
	.blog_category_col:nth-last-child(-n+3)
	{
		margin-left: 15px;
		width: 150px;
		margin-bottom: 0px;
		font-size: 1px;
		/*margin-left: 28%;*/
	}
	select
	{
		width: 5px;

	}
	.blog_category_col:not(:last-child)
	{
		margin-left: 15px;
		
		width: 150px;
		/*margin-left: 28%;*/
	}
	.blog_category_col
	{
		margin-bottom: 0px;
		/*margin-left: 28%;*/
		width: 150px;
	}
	.blog_right
	{
		margin-top:10%; 
/*		height: 700%;*/
	}
	.blog_image_col
	{
		margin-bottom: 10%;
		width: 10px;
	}
	.blog_image
	{
		height: 330px;
		width: 10px;
	}
		.register_timer_container
	{
		/*padding-left: 68px;*/
		top: auto;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		margin-top: 50px;
	}

	.instructors_background
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 567px;
	/*background-repeat: repeat;*/
	background-size: cover;
	background-position: center center;
}
.toggle,
[id^=drop] {
	display: none;
}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	.social_icon {
		font-size: 30px !important;
		padding: 10px  !important;
		margin-top:30%;
	
	}
	.course_col1
	{
		margin: 5%;
	}
	.pcol
	{
		width: 30%;
		float: left;
		box-sizing: border-box;;
	}
	.pimg1{
	margin: 2vh auto;
	width:50%;
}
.pimg{
	margin: 3vh auto;
	width:90%;
}
	.contactbox
{
	margin-left: 0%;
}

	h1{font-size: 28px;}
	h2{font-size: 24px;}
	p{font-size: 13px;}
	.header_content
	{
		height: 70px;
	}
	.logo_text
	{
		font-size: 20px;
	}
	.menu
	{
		width: 100%;
		right: -100%;
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 75px;
	}
	.menu_close_container
	{
		right: 18px;
	}
	.menu .search
	{
		margin-bottom: 40px;
	}
	.menu_extra
	{
		/*right: 20px;*/
		bottom: 13px;
	}
	.menu_phone, .menu_social
	{
		font-size: 12px;
	}
	.menu_social
	{
		margin-top: -20px;
	}
	.home
	{
		height: 330px;
	}
	.home_content
	{
		top: 60%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.home_title
	{
		font-size: 24px;
	}
	.home_button
	{
		width: 185px;
		height: 36px;
		margin-top: 28px;
	}
	.home_button a
	{
		line-height: 36px;
		font-size: 10px;
		font-size: 10px;
	}
	.home_button12
	{
		width: 305px;
		height: 36px;
		margin-top: 28px;
	}
	.home_button12 a
	{
		line-height: 36px;
		font-size: 10px;
		font-size: 10px;
	}
		.home_button13
	{
		width: 301px;
		height: 36px;
		margin-top: -15px;
		margin-left: auto;
	}
	.home_button13 a
	{
		line-height: 36px;
		font-size: 10px;
		font-size: 10px;
	}
	.course_body,
	.course_footer
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	.course_title a
	{
		font-size: 16px;
	}
	.course_info ul li a
	{
		font-size: 13px;
	}
	.instructor_image_container
	{
		width: 120px;
		height: 120px;
		border: solid 8px #ffffff;
	}
	.instructor_image
	{
		top: -8px;
		left: -8px;
		width: 120px;
		height: 120px;
	}
	.register_form_container
	{
		
	}
	.register_timer_title,
	.timer_num
	{
		font-size: 24px;
	}
	.form_button
	{
		width: 117%;
		height: 36px;
		font-size: 10px;
	}
	.timer_list li:not(:last-child)
	{
		margin-right: 12px;
	}
	.event_date
	{
		width: 60px;
		height: 60px;
	}
	.event_day
	{
		font-size: 24px;
	}
	.event_month
	{
		font-size: 9px;
		margin-top: 8px;
	}
	.event_body
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	.event_title a
	{
		font-size: 16px;
	}
	.blog_title
	{
		font-size: 24px;
	}
	.blog_title_container
	{
		top: calc(100% - 105px);
		padding-left: 20px;
		padding-right: 15px;
	}
	.blog_right_title a
	{
		font-size: 24px;
	}
	.blog_right_text p
	{
		font-size: 13px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}